<form class="form-horizontal" onsubmit="return false;">
	<fieldset>

		<div class="control-group">
			<label class="control-label" for="facility">Facility/Provider Name:</label>
			<div class="controls">
				<input type="text" class="input-xlarge facility" value="{{facilityName}}" id ="facilityName">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="address">Address:</label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="address" value="{{address}}">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="city">Country:</label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="country" value="{{country}}">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="city">City:</label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="city" value="{{city}}">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="select-state">State:</label>
        <div class="controls">
					<input type="text" class="input-xlarge" id="select-state" value="{{state}}">
        </div>
			</div>
		<div class="control-group">
			<label class="control-label" for="zipcode">Zip:</label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="zip" value="{{zip}}">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="phoneNumber">Phone:</label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="phoneNumber" value="{{phoneNumber}}">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="email">Email:</label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="email" value="{{email}}">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="website-url">Website URL:</label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="websiteURL" value="{{websiteURL}}">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="owners-name">Owner Name:</label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="owners-name" value="{{ownersName}}">
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">About Us:</label>
			<div class="controls">
				<textarea rows="5" id="about-us" class="input-xlarge">{{aboutus}}</textarea>
			</div>
		</div>

		<div class="control-group" id="tags-wrapper">
			<label class="control-label" for="tags">Tags:</label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="facility-tags" value="{{tags}}" data-role="tagsinput" placeholder="Add tags">
			</div>
		</div>

  	<div class="form-actions">
  		<p><strong>NOTE: </strong>You must save at least once to add classes.</p>
      <button type="submit" class="btn btn-primary save-btn">Save changes</button>
      <button class="btn cancel-btn">Undo</button>
  	</div>
	</fieldset>
</form>
